/*Header*/
header {
    height: 15vh; 
    width: 100%;
    background: #F2D7D9;
    box-shadow: 0px 3px 10px grey;
    position: relative;
}

.header-container {
    padding-left: 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-book {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

h1 {
    margin-top: 0px;
}

img {
    width: 2rem;
    background-color: #748DA6;
    padding: 0.5rem;
    border-radius: 5rem;
}

/*Book shelf*/
.main-container {
    background-color: #D3CEDF;
    height: 85vh;
}

.shelf-container {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
}
.shelf {
    width: 90%;
    height: 1rem;
    margin: 0 auto;
    background-color: #748DA6;
    box-shadow: 0px 3px 5px grey;
    margin-top: 9rem;
}

.book {
    background-color: white;
    width: 8rem;
    height: 9rem;
    padding: 1rem;
    position: absolute;
    text-align: center;
    border-radius: 1rem;
}

form {
    border: 1px solid red;
    height: 300px;
    width: 300px;
    
    position: absolute;
    background-color: white;
    top: 100px;
    left: 200px;
}

input {
    width: 200px;
}
