/*Variables*/
:root {
    --background: #F2D7D9;
    --shadow: #818589;
    --shelf: #748DA6;
    --container: #D3CEDF;
    --book: #F9F6EE;

}
/*Header*/
header {
    height: 15vh; 
    width: 100%;
    background: var(--background);
    box-shadow: 0px 3px 10px var(--shadow);
    position: relative;
}

.header-container {
    padding-left: 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-book {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

h1 {
    margin-top: 0px;
}

.add {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-image: url(https://cdn-icons.flaticon.com/png/512/3524/premium/3524388.png?token=exp=1659958428~hmac=885096df604160d33f7d62392df33925);
    background-size: cover;
    border-style: none;
    background-color: var(--background);
}

button:hover {
    opacity: 60%;
    background-color: red;
}

/*Book shelf*/
.main-container {
    background-color: var(--container);
    height: 85vh;
}

.shelf-container {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
}
.shelf {
    width: 90%;
    height: 1rem;
    margin: 0 auto;
    background-color: var(--shelf);
    box-shadow: 0px 3px 5px var(--shadow);
    margin-top: 9rem;
}

.book {
    background-color: var(--book);
    width: 8rem;
    height: 9rem;
    padding: 1rem;
    position: absolute;
    text-align: center;
    border-radius: 1rem;
}

/*Form style*/
.form-modal {
    border: 3px solid black;
    border-radius: 10%;
    height: 30rem;
    width: 30rem;
    padding: 2rem;

    position: fixed;
    background-color: var(--book);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
}

.form-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

input {
    width: 200px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.close-button {
    background-color: var(--book);
    border-style: none;
}

.form-header, .close-button {
    font-size: 2rem;
    font-weight: bolder;
}

.overlay {
    position: fixed;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}